[submodule "lib_nlp"]
	path = lib_nlp
	url = https://github.com/charles-park/lib_nlp
[submodule "lib_mac"]
	path = lib_mac
	url = https://github.com/charles-park/lib_mac
[submodule "lib_efuse"]
	path = lib_efuse
	url = https://github.com/charles-park/lib_efuse
